<!DOCTYPE html>
<html>
  <head>
    <title>Sopies Management System...</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body class="container">
    <h1>소피스</h1>
    <table class="table">
        <tr>
			<td>품목</td>
			<td>1</td>
	    <td>2</td>
	    <td>3</td>
	    <td>4</td>
			<td>5</td>
			<td>6</td>
			<td>7</td>
			<td>8</td>
			<td>9</td>
			<td>10</td>
			<td>11</td>
	</tr>
	<tr>
	    <td>재고량</td>
	    <td><%= no[0] %></td>
	    <td><%= no[1] %></td>
	    <td><%= no[2] %></td>
	    <td><%= no[3] %></td>
			<td><%= no[4] %></td>
			<td><%= no[5] %></td>
			<td><%= no[6] %></td>
			<td><%= no[7] %></td>
			<td><%= no[8] %></td>
			<td><%= no[9] %></td>
			<td><%= no[10] %></td>
	</tr>
    </table>
    <p><%=time %></p>
  </body>
</html>
